body {
  margin: 0px;
  overflow: hidden;
}

.sphere {
  fill: #4242e4;
}

.country {
  stroke: black;
  stroke-width: 0.05px;
}

.country:hover {
  stroke-width: 0.75px;
}

.tick text {
  font-size: 1em;
  fill: black;
  font-family: sans-serif;
}

.tick circle {
  stroke: black;
  stroke-opacity: 0.5;
}

#Information {
  font-size: 1em;
  text-align: center;
}

#Information select {
  font-size: 1rem;
}

#Information select option {
  font-size: 0.5rem;
}